.footer {
    font-size: 10px;
}

.logo-box {
    max-height: 179px;
}

a.href-text {
    color: black;
    text-decoration: none;
}

.bird-icon {
    width: 300px;
    height: 300px;
}

.wps-bird-icon{
    max-width:50%;
}
