{% extends "layouts/main.html" %}
{% set page_title = "About Marble" %}
{% block content %}
    {% with page = "about" %}
        {% include "partials/menu.html" %}
    {% endwith %}
    {% with %}
        {% set banner_background_class= "banner-image-about" %}
        {% set banner_title_class = "banner-title-about" %}
        {% set page_slogan = "Unleash Climate Insights" %}
        {%  set value_statement = "Facilitating collaboration and exploration of climate science" %}

        {% include "partials/banner.html" %}
    {% endwith %}

    {% with page = "about" %}
        {% set title = "Mission" %}
        {% set content = "<p>Our mission is to eliminate the technical barriers faced by individuals working
        with climate data.</p>" %}
        {% include "partials/general-content.html" %}
    {% endwith %}

    {% with page = "about" %}
        {% set title = "Our Story" %}
        {% set content = "<p>Climate change is already affecting flood risks, storm trajectories, heatwave intensity,
        crop productivity, water availability, pests, disease propagation, and rooftop snow loads. To analyze and
        mitigate these risks, scientists, planners, and vulnerable communities need access to comprehensive data and
        analysis tools to help make smart, low-regret decisions based on evidence.</p>

        <p>Marble will make such climate data analyses cheap, quick, efficient, and reproducible so that they can be used
        whenever they are needed for planning, decision-making or research.</p>" %}
        {% include "partials/general-content.html" %}
    {% endwith %}

    {% with about_github = "https://github.com/DACCS-Climate/" %}
        {% set title = "Data Analytics for Canadian Climate Services" %}
        {% set content = "<p>Marble is developed by <a class='paragraph-href' href='https://daccs.ca/' target='_blank'>Data Analytics for Canadian Climate Services (DACCS)</a> collaboration.
        DACCS is a partnerships between universities and research institutions across Canada. </p>

        <p>Marble will make such climate data analyses cheap, quick, efficient, and reproducible so that they can be
        used whenever they are needed for planning, decision-making or research.</p>
        " %}

        {% include "partials/general-content.html" %}
    {% endwith %}

    {% with %}
        {% set title = "Who Are We?" %}
        {% set content = "" %}
        {% set menu_1 = "Executive Committee" %}
        {% set menu_2 = "Scientific Committee" %}
        {% include "partials/committee.html" %}
    {% endwith %}

    {% include "partials/faq-card.html" %}

    {% with %}
        {% include "partials/extras.html" %}
    {% endwith %}
{% endblock content %}

