{% extends "layouts/main.html" %}
{% set page_title = "About Marble" %}
{% block content %}
    {% include "partials/banner.html" %}
    {% with %}
        {% set img_src = "images/marble-network-executive-committeev2.png" %}
        {% set img_class = "img-fluid w-75" %}
        {% set img_location = "left" %}
        {% set title = "Executive Committee" %}
        {% set intro_content = "Take a look behind the scenes at how Marble is run" %}
        {% set git_hub_link = "https://github.com/DACCS-Climate/DACCS-executive-committee" %}
        {% set content %}
            {%  set table_data=[
                {"name": "David Huard", "organization": "Ouranos",
                "links":
                    [
                        {"href": "https://www.ouranos.ca/en/equipe#david-huard-408",
                        "alt": "Ouranos",
                        "icon-class": ""
                        }
                    ]
                },
                {"name": "Francis Charette Migneault", "organization": "CRIM",
                "links":
                    [
                        {"href": "https://orcid.org/0000-0003-4862-3349",
                        "alt": "OrcID",
                        "icon-class": "fab fa-orcid fa-lg"},
                        {"href": "https://www.researchgate.net/profile/Francis-Charette-Migneault",
                        "alt": "ResearchGate",
                        "icon-class": "fab fa-researchgate fa-lg"
                        },
                        {"href": "https://www.linkedin.com/in/francis-charette-migneault/",
                        "alt": "LinkedIn",
                        "icon-class": "fab fa-linkedin fa-lg"
                        },
                        {"href": "https://github.com/fmigneault/",
                        "alt": "GitHub",
                        "icon-class": "fab fa-github fa-lg"
                        }
                    ]
                },
                {"name": "Misha Schwartz", "organization": "University of Toronto",
                "links":
                    [
                        {"href": "https://github.com/mishaschwartz/",
                        "alt": "GitHub",
                        "icon-class": "fab fa-github fa-lg"
                        }
                    ]
                }
            ]%}

            <table class="table table-striped table-borderless info-background mb-0 pb-0">
                <thead>
                <tr>
                    <th>Member</th>
                    <th>Organization</th>
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                {% for row in table_data %}
                    <tr>
                        <td>{{ row["name"] }}</td>
                        <td>{{ row["organization"] }}</td>
                        <td>
                            {% for link in row["links"] %}
                                {% if link["icon-class"] == "" %}
                                    <a class="about-profile-link pe-1" href="{{ link["href"] }}" alt="{{ row["organization"] }}" target="_blank">{{ row["organization"] }}</a>
                                {% else %}
                                     <a class="marble-github-link pe-1" href="{{ link["href"] }}" alt="{{ link["alt"] }}" target="_blank"><i class='{{ link["icon-class"] }}'></i></a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
    {% with %}
        {% set img_src = "images/logos/marble.png" %}
        {% set img_class = "img-fluid w-75" %}
        {% set img_location = "right" %}
        {% set title = "Marble Platform" %}
        {% set intro_content = "Take a look at the tools used to manage and work with the Marble platform" %}
        {% set git_hub_link = "https://github.com/DACCS-Climate/DACCS-executive-committee" %}
        {% set content %}
            {% set table_data = [
                {"title": "Marble Project Website", "description": "The public face of the project.", "git_link": "https://github.com/DACCS-Climate/daccs-website"},
                {"title": "Node Registry", "description": "Active Marble nodes will periodically retrieve this file and update their own local databases with the information contained within it.", "git_link": "https://github.com/DACCS-Climate/Marble-node-registry"},
                {"title": "Python Client", "description": "The library provides a pythonic interface to the Marble network's central registry", "git_link": "https://github.com/DACCS-Climate/marble_client_python"},
            ] %}
            <table class="table table-striped table-borderless info-background mb-0 pb-0">
                <thead></thead>
                <tbody>
                {% for row in table_data %}
                    <tr>
                        <td>
                            <h5>{{ row["title"] }}</h5>
                            <p>{{ row["description"] }}</p>
                        </td>
                        <td class="align-bottom">
                            <div>
                                <a class="marble-github-link" target="_blank" href="{{ row['git_link'] }}">
                                    <i class="fab fa-github fa-lg"></i> GitHub
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
    {% with %}
        {% set img_src = "images/cloud-5469737.jpg" %}
        {% set img_class = "img-fluid" %}
        {% set img_location = "left" %}
        {% set title = "Host and Deploy Your Own Node" %}
        {% set content %}
            {% set table_data = [
                {"description": "Deploy a Node", "git_link": "https://github.com/bird-house/birdhouse-deploy/blob/master/README.rst"},
                {"description": "Add the Node to the Network", "git_link": "https://github.com/DACCS-Climate/Marble-node-registry/blob/main/README.md"}
            ] %}
            <table class="table table-striped table-borderless info-background mb-0 pb-0">
                <thead></thead>
                <tbody>
                {% for row in table_data %}
                    <tr>
                        <td>
                            <p>{{ row["description"] }}</p>
                        </td>
                        <td class="align-bottom">
                            <div>
                                <a class="marble-github-link" target="_blank" href="{{ row['git_link'] }}">
                                    <i class="fab fa-github fa-lg"></i> GitHub
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
    {% with %}
        {% set img_src = "images/carousel/communityv3.png" %}
        {% set img_class = "img-fluid" %}
        {% set img_location = "right" %}
        {% set title = "Community" %}
        {% set intro_content = "Join our online community of climate researchers" %}
        {% set content %}
            <p>Community and social media links are coming soon!</p>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
    {% with %}
        {% set img_src = "images/usgs-7xF_CS4JC8c-unsplash.jpg" %}
        {% set img_class = "img-fluid" %}
        {% set img_location = "left" %}
        {% set title = "Acknowledgments" %}
        {% set intro_content = "The Marble climate platform was made possible with funding from the following agencies: " %}
        {% set content %}
            <p>Acknowledgements are coming soon!</p>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
{% endblock content %}
