{% extends "layouts/main.html" %}
{% set pagetitle = "Data Catalog" %}
{% block content %}
    {% include "partials/banner.html" %}

    {% with %}
        {% set leftimagesource = "images/stac-030-long.png" %}

        {% set content %}
            <p>The Marble Platform uses the SpatioTemporal Asset Catalog (STAC) as its data catalog.</p>
            <p>STAC is a family of specifications aim to standardize the way geospatial asset metadata is structured and queried</p>
        {% endset %}

        {% include "partials/data-content-section-left.html" %}
    {% endwith %}

    {% with %}
        {% set rightimagesource = "images/usgs-Yhx6-WibC3I-unsplash.jpg" %}

        {% set content %}
             <p>
                 A "spatiotemporal asset" is any file that represents information about the Earth at a certain place
                and time. The original focus was on scenes of satellite imagery, but the specifications now cover
                a broad variety of uses, including sources such as aircraft and drone and data such as hyperspectral
                optical, synthetic aperture radar (SAR), video, point clouds, lidar, digital elevation models (DEM),
                vector, machine learning labels, and composites like NDVI and mosaics.
             </p>
        {% endset %}

        {% include "partials/data-content-section-right.html" %}
    {% endwith %}



    {% with %}
        {% set title = "Available At" %}

        {% include "partials/section.html" %}
    {% endwith %}
    {% with %}
        <script>
            function nodeFilter([_name, data]) {
                return data.services && data.services.some(service => service.keywords.includes("catalog"))
            }
        </script>
        {% include "partials/node-content.html" %}
    {% endwith %}
    {% include "partials/pictures.html" %}
{% endblock content %}