{% extends "layouts/main.html" %}
{% set page_title = "Data Catalog" %}
{% block content %}
    {% include "partials/banner.html" %}
    {% with %}
        {% set page_use = "default"%}
        {% set img_src = "images/stac-030-long.png" %}
        {% set img_class = "img-fluid" %}
        {% set orient = "left" %}
        {% set git_hub_link = "https://github.com/radiantearth/stac-api-spec" %}
        {% set doc_link = "https://stacspec.org" %}
        {% set content %}
            <p>The Marble Platform uses the SpatioTemporal Asset Catalog (STAC) as its data catalog.</p>
            <p>STAC is a family of specifications aim to standardize the way geospatial asset metadata is structured and queried</p>
            {% include "partials/git-doc-links.html" %}
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}

    {% with %}
        {% set title = "Available At" %}
        {% include "partials/section.html" %}
    {% endwith %}
    {% with %}
        <script>
            function nodeFilter([_name, data]) {
                return data.services && data.services.some(service => {
                    return service.name === "stac-browser"
                })
            }

            function setNodeLink(nodeID, data, node_id_suffix) {

                data.services.forEach((service) => {
                    if(service.name === "stac-browser") {
                            service.links.forEach((link) => {
                                if(link.rel === "service") {
                                    let nodeAnchor = document.getElementById(`link-url-${node_id_suffix}`);
                                    nodeAnchor.href = link.href;
                                }
                            })
                    }
                })
            }
        </script>
        {% include "partials/node-content.html" %}
    {% endwith %}
    {% include "partials/pictures.html" %}
{% endblock content %}