{% extends "layouts/main.html" %}
{% set page_title = "" %}

{% block content %}
    {% include "partials/banner.html" %}
        <div class="container mt-3">
            <div class="row g-0  d-flex flex-column position-static overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-background">
                <div class="row">
                    <div class="col-9">
                        <!--H3 title-->
                        <div id="affiliation" class="mb-1 text-body-secondary"></div>
                        <div id="description"></div>
                        <div class="mt-3">
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div id="url"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date Added: <span id="date_added"></span></td>
                                </tr>
                                <tr>
                                    <td>Status: <span id="status"></span></td>
                                </tr>
                                <tr>
                                    <td>Contact: <span id="contact"></span></td>
                                </tr>
                                <tr>
                                    <td>Version: <span id="version"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3 col-lg-2 d-block d-lg-block">
                        <img id="image-right" class="w-sm-100 mt-2 px-auto d-block img-fluid mw-25 mh-25" src="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2 text-center">
                        <h4 class="text-decoration-underline">Services Available</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <div id="services" class="table-responsive border rounded"></div>
                    </div>
                </div>
           </div>
        </div>
    <script src="js/node.js"></script>
    {% include "partials/pictures.html" %}
{% endblock content %}