{% extends "layouts/main.html" %}
{% set page_title = "Nodes" %}
{% block content %}
   {% include "partials/banner.html" %}
    {% with %}
        {% set href = href|default("{{href}}") %}
        {% set section_title = "Start a Project" %}
        {% set section_content = "Select most suitable node or server to start a project" %}

        {% include "partials/title-and-text.html" %}
    {% endwith %}

    <div class="container-fluid w-75">
        <div class="row">
            <div id="nodeMenu"></div>
        </div>
<!--
       <div class="row">
           <div id="nodeInfo">
               <div id="nodeImageBackground" class="d-flex flex-column flex-sm-row justify-content-between">
                   <div id="nodeInfoLeft">
                       <div id="nodeInfoTop">
                           <div id="nodeDateCreated"></div>
                           <div id="nodeStatus"></div>
                           <div id="nodeRegistrationStatus"></div>

                       </div>
                       <div id="nodeInfoBottom">
                           <div id="nodeName"></div>
                           <div id="nodeDescription"></div>
                           <div id="nodeRegisterButtons"></div>
                           <div id="nodeVersion"></div>

                       </div>

                   </div>

                   <div id="nodeInfoRight">
                       <div id="nodeContact"></div>

                   </div>


               </div>



           </div>
       </div>-->





        <div class="row">
            <div id="services"></div>
        </div>
    </div>





    <script src="js/node.js"></script>
    {% include "partials/pictures.html" %}
{% endblock content %}