{% extends "layouts/main.html" %}
{% set page_title = "THREDDS Data Server" %}
{% block content %}
    {% include "partials/banner.html" %}
    {% include "partials/page-title.html" %}
    {% with %}
        {% set content %}
            <p>The goal of the Thematic Real-time Environmental Distributed Data Services (THREDDS)
                project is to simplify the discovery and use of scientific data.</p>
            <p>Through the management of metadata and data access to scientific datasets,
                THREDDS allows scientific publications and educational materials to reference scientific data.
                Let us worry about the data storage while you carry your work with you. </p>
        {% endset %}
        {% include "partials/page-summary.html" %}
    {% endwith %}
    {% with %}
        {% set img_src = "/images/usgs-xYtaNqihZHc-unsplash.jpg" %}
        {% set img_location = "left" %}
        {% set small_title = "Design" %}
        {% set title = "Post Title" %}
        {% set intro_content = "Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}
        {% set content %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
    {% with %}
        {% set img_src = "/images/usgs-Yhx6-WibC3I-unsplash.jpg" %}
        {% set small_title = "Design" %}
        {% set img_location = "right" %}
        {% set title = "Post Title" %}
        {% set intro_content = "Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}
        {% set content %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        {% endset %}
        {% include "partials/info-row.html" %}
    {% endwith %}
    {% with %}
        {% set title = "Available At" %}
        {% set content %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        {% endset %}
        {% include "partials/content-section.html" %}
    {% endwith %}
    {% with %}
        <script>
            function nodeFilter([_name, data]) {
                return data.services && data.services.some(service => service.name === "thredds")
            }
        </script>
        {% include "partials/node-content.html" %}
    {% endwith %}
    {% include "partials/pictures.html" %}
{% endblock content %}