<div class="row mb-2 mx-auto">
    <div class="col-md-12 ">
        <div class="row  g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-background">
            <div class="col-8 ps-4 pb-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success"><!-- Add text about the data catalog used for Marble OPTIONAL LINE--></strong>
                <h3 class="mb-0">{{ sectiontitle }}</h3>
                <div class="mb-1 text-body-secondary">{{ secondarysectiontitle }}</div>

                <p>{{ sectioncontent }}</p>

                {{ tablecontent }}

            </div>
            <div class="col-4 pt-2 p-auto d-block d-lg-block text-center">
                <img class="img-fluid w-50 m-auto d-block"  src="https://daccs.cs.toronto.edu/logo"/>
            </div>
        </div>
    </div>
</div>