<div class="row m-2 mx-auto">
    <div class="col-md-12 ">
        <div class="row  g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-background">
            <div class="col-4 ps-4 py-2 d-block d-lg-block">
                <img class="img-fluid w-75" src="{{ execimagesource }}"/>
            </div>
            <div class="col-8 p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success"><!-- Add text about the data catalog used for Marble OPTIONAL LINE--> </strong>
                <h3 class="mb-0">{{ execsectiontitle }}</h3>
                <div class="mb-1 text-body-secondary">{{ execsectionsecondtitle }}</div>

                <p>{{ execcontentpt1 }}</p>

                <div>
                    <a class="daccs-github-link" target="_blank" href="{{ execgithubhref }}">
                        <i class="fab fa-github "></i>GitHub
                    </a>
                </div>


            </div>

        </div>
    </div>
</div>