<!--<script src="//unpkg.com/globe.gl"></script>-->


<section id="hero" class="page-section first-section text-white py-auto">

    <div class="bg opacity-30 bg-position-center-center bg-attachment-fixed" ></div>


    <div id="home-video" class="d-none d-lg-block">
      <video loop autoplay muted>
        <source src="{{ banner_video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <div id="home-video-overlay"></div>
    </div>


     <div class="section-container">
           <div class="container-fluid">
             <div class="row align-items-center">

               <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-1">
                   <h1><span id="banner-title" class="gradient-text banner-title">{{ page_title }}</span></h1>

                   <p>{{ page_slogan|default("") }}</p>
                   <!--<p>New to climate data? <a href="/learn/" class="text-warning">Click here to learn more</a></p>-->
               </div>
               <aside class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-3 offset-lg-1 hero-menu-wrap border border-light">
                 <div class="hero-menu">
                   <h6>Quick Start</h6>

                   <ul>
                     <li><a href="https://climatedata.ca/explore/location/" class="supermenu-toggle">Explore by Location</a></li>
                     <li><a href="https://climatedata.ca/explore/variable/" class="supermenu-toggle">Explore by Variable</a></li>
                     <li><a href="https://climatedata.ca/explore/sector/" class="supermenu-toggle">Explore by Sector</a></li>
                     <li><a href="https://climatedata.ca/analyze/">Analyze</a></li>
                     <li><a href="https://climatedata.ca/download/">Download</a></li>
                     <li><a href="https://climatedata.ca/learn/">Learn</a></li>
                   </ul>
                 </div>

               </aside>

             </div>

         </div>
     </div>
</section>


<!--
<div class="container col-12 px-0 py-0 banner-video-overlay">
     <div class="container">
        <div class="d-none d-lg-block">
            <div class="banner-video ">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <div class="position-absolute">
                        <video class="w-100" autoplay loop muted>
                            <source src="{{ banner_video }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container  p-auto">


            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 w-100 ">
              <div class="col-6">
                <p class="lead"></p>
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
                  <span id="banner-title" class="gradient-text banner-title align-items-center justify-content-center">{{ page_title }}</span>
                  <div class="d-flex align-items-center justify-content-center">
                                            {{ page_slogan|default("") }}
                  </div>
                <p class="lead"></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
              </div>


            </div>


    </div>
</div>
-->


<!--
<div class="container-fluid">
    <div class="container">
        <div class="d-none d-lg-block">
                    <div class="banner-video">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <div class="position-absolute">
                                <video class="w-100" autoplay loop muted>
                                    <source src="{{ banner_video }}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
        </div>
            </div>
    <div class="row">
        <div class="col-12 p-0">

        <div class="container-fluid">
            <div class="row mb-3  banner-text-container">

                    <div class="col-12">
                        <div class="row position-absolute">
                            <div class="col-6  pe-0">
                                <p class="text-white">Marble</p>
                                <div class="d-flex align-items-end justify-content-center flex-wrap banner-title-container">
                                    <span id="banner-title" class="gradient-text banner-title">{{ page_title }}</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-center banner-slogan">
                                    {{ page_slogan|default("") }}
                                </div>
                            </div>
                            <div class="col-6 ps-0 banner-text-container">
                                <div id="banner"><p>banner slogan</p></div>
                            </div>
                            </div>
                        </div>


            </div>
            </div>




        </div>
</div>


</div>-->
