{% if disabled %}
    {% set button_disabled = "disabled" %}
{% endif %}

{% if button_type == "med_action_button"%}
    {% set button_type = "button-med" %}
    {% set button_background_colour = "bg-button-primary" %}
    {% set button_font = "button-text" %}
    {% set button_font_colour = "text-on-primary" %}
{% elif button_type == "med_action_button_alt" %}
    {% set button_type = "button-med-alt" %}
    {% set button_background_colour = "bg-button-alt" %}
    {% set button_font = "button-text" %}
    {% set button_font_colour = "text-on-primary-alt" %}
{% elif button_type == "sm_action_button" %}
    {% set button_type = "button-sm" %}
    {% set button_background_colour = "bg-button-primary" %}
    {% set button_font = "button-text" %}
    {% set button_font_colour = "text-on-primary" %}
{% elif button_type == "sm_action_button_alt" %}
    {% set button_type = "button-sm-alt" %}
    {% set button_background_colour = "bg-button-alt" %}
    {% set button_font = "button-text" %}
    {% set button_font_colour = "text-on-primary-alt" %}
{% elif button_type == "single_action_plus" %}
    {% set button_type = "button-single-action" %}
    {% set svg_button = true %}
    {% set button_background_colour = "bg-button-primary" %}
    {% set button_font = "" %}
    {% set button_font_colour = "text-on-primary" %}
    {% set svg_colour = "white" %}
    {% set svg_width = "16" %}
    {% set svg_height = "16" %}
    {% set viewbox_width = "16" %}
    {% set viewbox_height = "16" %}
{% elif button_type == "sm_single_action_plus" %}
    {% set button_type = "button-single-action-sm" %}
    {% set svg_button = true %}
    {% set svg_small = true %}
    {% set button_background_colour = "bg-button-primary" %}
    {% set button_font = "" %}
    {% set button_font_colour = "text-on-primary" %}
    {% set svg_colour = "white" %}
    {% set svg_width = "12" %}
    {% set svg_height = "12" %}
    {% set viewbox_width = "12" %}
    {% set viewbox_height = "12" %}
{% elif button_type == "single_action_chevron_up" %}
    {% set button_type = "button-single-action" %}
    {% set svg_button = true %}
    {% set chevron_up = true %}
    {% set button_background_colour = "bg-button-primary" %}
    {% set button_font = "" %}
    {% set button_font_colour = "text-on-primary" %}
    {% set svg_colour = "white" %}
    {% set svg_width = "36" %}
    {% set svg_height = "36" %}
    {% set viewbox_width = "36" %}
    {% set viewbox_height = "36" %}
{% elif button_type == "single_action_chevron_dn" %}
    {% set button_type = "button-single-action" %}
    {% set svg_button = true %}
    {% set chevron_dn = true %}
    {% set button_background_colour = "bg-button-primary" %}
    {% set button_font = "" %}
    {% set button_font_colour = "text-on-primary" %}
    {% set svg_colour = "white" %}
    {% set svg_width = "36" %}
    {% set svg_height = "36" %}
    {% set viewbox_width = "36" %}
    {% set viewbox_height = "36" %}
{% endif %}


{% if svg_button %}
    <button class="{{ button_type }} {{ button_background_colour }} {{ button_font }} {{ button_font_colour }} {{ button_disabled }}" type="button">
        <svg width="{{ svg_width }}" height="{{ svg_height }}" viewBox="0 0 {{ viewbox_width }} {{ viewbox_height }}" fill="none" xmlns="http://www.w3.org/2000/svg">
            {% if chevron_up %}
                <path d="M23.5874 20.0771L18.2937 15.0002L12.9999 20.0771" stroke="{{ svg_colour }}" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            {% elif chevron_dn %} 
                <path d="M12.4126 15.9233L17.7063 21.0003L23.0001 15.9233" stroke="{{ svg_colour }}" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            {% elif svg_small %}
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.11095 5.11095V1.55539C5.11095 1.06447 5.50892 0.666504 5.99984 0.666504C6.49076 0.666504 6.88873 1.06447 6.88873 1.55539V5.11095H10.4443C10.9352 5.11095 11.3332 5.50892 11.3332 5.99984C11.3332 6.49076 10.9352 6.88873 10.4443 6.88873H6.88873V10.4443C6.88873 10.9352 6.49076 11.3332 5.99984 11.3332C5.50892 11.3332 5.11095 10.9352 5.11095 10.4443V6.88873H1.55539C1.06447 6.88873 0.666504 6.49076 0.666504 5.99984C0.666504 5.50892 1.06447 5.11095 1.55539 5.11095H5.11095Z" 
                fill="{{ svg_colour }}"/>
            {% else %}
                 <path fill-rule="evenodd" clip-rule="evenodd" 
                 d="M6.66667 6.66667V1.33333C6.66667 0.596954 7.26362 0 8 0C8.73638 0 9.33333 0.596954 9.33333 1.33333V6.66667H14.6667C15.403 6.66667 16 7.26362 16 8C16 8.73638 15.403 9.33333 14.6667 9.33333H9.33333V14.6667C9.33333 15.403 8.73638 16 8 16C7.26362 16 6.66667 15.403 6.66667 14.6667V9.33333H1.33333C0.596954 9.33333 0 8.73638 0 8C0 7.26362 0.596954 6.66667 1.33333 6.66667H6.66667Z" 
                fill="{{ svg_colour }}"/>
            {% endif %}
        </svg>
    </button> 
{% else %}
    <button class="{{ button_type }} {{ button_background_colour }} {{ button_font }} {{ button_font_colour }} {{ button_disabled }}" type="button">
        {{ button_label|safe }}
    </button> 
{% endif %}


