<div class="row pt-5">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <h2>{{ title }}</h2>
    </div>
    <div class="col-4"></div>
</div>
{% set carousel_content = [
    {"title": "Data Catalog", "link": "datacatalog.html", "image": "images/carousel/stac-catalog.png"},
    {"title": "IDE", "link": "ide.html", "image": "images/carousel/dev-environment-dusk-bg.png"},
    {"title": "Remote Processing", "link": "remote-processing.html", "image": "images/carousel/remote-processing-graph-6249047.png"},
    {"title": "Community", "link": "about.html#community", "image": "images/carousel/communityv3.png"},
    {"title": "Tutorials", "link": "tutorials/index.html", "image": "images/carousel/tutorials.png"},
] %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<div id="marbleCarousel" class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for i in range(2) %}
        {# duplicate the elements in the carousel so that the swiper library can smoothly transition
           back to the first element in the list. If there are too few elements, the transition is choppy #}
        {% for content in carousel_content %}
        <div class="swiper-slide">
            <a class="carousel-link" href="{{ content['link'] }}">
                <img class="img-fluid" src="{{ content['image'] }}">
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <div class="carousel-left-caption carousel-text-background px-sm-1 px-lg-2 my-3 text-start">
                            <h2><a class="carousel-link stretched-link" href="{{ content['link'] }}">{{ content['title'] }}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<script src="js/load-carousel.js"></script>
