
<div class="container-fluid content-section w-75 g-0">
    <div class="row mt-5">
        <div class="d-flex">
            <h3 class="h3-title-margin">{{ title }}</h3>
            <div>{{ content|safe }}</div>
        </div>
    </div>
    <div class="row">
            <div class="d-flex justify-content-center mb-5">
                <div class="d-flex justify-content-between usage-menu-container">
                    <a id="executiveMenuButton" class="committee-menu-button" tabindex="1"><h3 class="h3-title-margin">{{ menu_1 }}</h3></a>
                    <a id="scientificMenuButton" class="inactive-link" tabindex="2"><h3 class="h3-title-margin">{{ menu_2 }}</h3></a>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div id="executiveCommittee" class="d-none justify-content-center">
                    {% with %}
                        {% include "partials/executive-committee-section.html" %}
                    {% endwith %}
                </div>
                <div id="scientificCommittee" class="d-none justify-content-center">
                    {% with %}
                        {% include "partials/scientific-committee-section.html" %}
                    {% endwith %}
                </div>
        </div>
    </div>
        <script src="js/about.js"></script>
</div>