<div class="container-fluid">
    <div class="row mt-5">
        {% if template %}
            {% if template_type == "technology_card"%}

                {% with %}
                    {% set href = href|default("{{href}}") %}
                    {% set title = title|default("{{title}}") %}
                    {% set section_title = tech_section_title_array|default("{{section_title}}") %}
                    {% set section_content = tech_section_content_array|default("{{section_content}}") %}

                    {% include "partials/technology-card.html" %}
                {% endwith %}

            {% elif template_type == "usage_section"%}
                {% with %}
                    {% set menu_1 = menu_1|default("{{menu_1}}") %}
                    {% set menu_2 = menu_2|default("{{menu_2}}") %}
                    {% set menu_3 = menu_3|default("{{menu_3}}") %}
                {% endwith %}
            {% include "partials/usage.html" %}
            {% endif %}

        {% else %}
            <div class="col-12">
                <h2>{{ title }}</h2>
                {{ section_content }}
            </div>
        {% endif %}
    </div>
</div>