<div class="container-fluid content-section">
    <div class="row mt-5">
        <div class="container-fluid w-75">
            <div class="row">
                <div class="d-flex flex-column flex-sm-row justify-content-between">
                    {% with %}
                        {% include "partials/extras-left.html" %}
                    {% endwith %}

                    {% with %}
                        {% include "partials/extras-right.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

