{% set array_length = faq_title|length %}

<div class="container-fluid w-75">
    <div class="row">
        <h3><a>{{ title }}</a></h3>
        <p class="lead-in-text">{{ lead_in_text }}</p>
        <p>{{ section_content }}</p>
    </div>
    {% for array_item in range(array_length) %}
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="mb-1 border border-1 rounded faq-card-content">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h6> {{ faq_title[array_item] }}</h6>
                    </div>
                    <div>
                        <a href="{{ faq_link[array_item] }}">
                            {% with button_type = "single_action_arrow"%}
                                {% include "partials/button.html" %}
                            {% endwith %}
                        </a>
                    </div>
                </div>
                <div class="flex-row">
                    <p> {{ faq_content[array_item] }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>