<div class="row mb-2 mx-auto">
    <div class="col-md-12 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            {% if img_location == "left" %}
                <div class="col-4 d-none d-lg-block">
                    <img src="{{ img_src }}" width="100%"/>
                </div>
            {% endif %}
            <div class="col-8 p-4 d-flex flex-column position-static">
                {% if small_title %}
                    <strong class="d-inline-block mb-2 text-success">{{ small_title }}</strong>
                {% endif %}
                <h3 class="mb-0">{{ title }}</h3>
                {% if intro_content %}
                    <p class="mb-auto">{{ intro_content }}</p>
                {% endif %}
                {{ content }}
            </div>
            {% if img_location == "right" %}
                <div class="col-4 d-none d-lg-block">
                    <img src="{{ img_src }}" width="100%"/>
                </div>
            {% endif %}
        </div>
    </div>
</div>