
<nav class="navbar navbar-expand-lg  menu">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-1">
                <img id="menu-logo" src="images/logos/marble.png" class="img-fluid ms-4 d-none d-lg-block menu-logo" />
            </div>
            <div class="col-10">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="p-2 menu-link" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 menu-link" href="datacatalog.html">Data Catalog</a>
                    </li>
                   <li class="nav-item">
                        <a class="p-2 menu-link" href="ide.html">IDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 menu-link" href="remote-processing.html">Remote Processing</a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 menu-link" href="tutorials.html">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 menu-link" href="about.html">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <a class="social-media-icon" href="" target="blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                <a class="social-media-icon" href="" target="blank"><i class="fa-brands fa-square-x-twitter fa-lg"></i></a>
                <a class="social-media-icon" href="" target="blank"><i class="fa-brands fa-mastodon fa-lg"></i></a>
                <a class="social-media-icon" href="" target="blank"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
                <a class="social-media-icon" href="" target="blank"><i class="fa-brands fa-discourse fa-lg"></i></a>
            </div>
        </div>
    </div>
</nav>
