{% with template = true %}
    <script src="js/load-node-content.js"></script>
    <template id="link-description">
        {% include "partials/link-description.html" %}
    </template>
    <template id="link-description-row">
        {% include "partials/link-description-row.html" %}
    </template>
    <template id="link-description-accordion-row">
        {% include "partials/link-description-accordion-row.html" %}
    </template>
    <div style="display: none" id="node-registry-url">{{ node_registry_url }}</div>
    <div id="nodeContentDisplay"></div>
    <div id="accordionContentDisplay"></div>
{% endwith %}
