 {%  set scientific_commitee_data=[
            {"name": "Steve Easterbrook",
            "descriptions": [
                {
                    "department":"",
                    "title": "",
                    "expertise": "Computer Science, Machine Learning"
                }
            ],
              "organization":[
                        {
                            "name": "University of Toronto",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/steve-easterbrook.jpg",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "University of Toronto",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Samuel Foucher",
            "descriptions": [
                {
                    "department":"",
                    "title": "",
                    "expertise": "Vision and Imaging",
                }
            ],
              "organization":[
                        {
                            "name": "CRIM",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/samuel-foucher.jpeg",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "CRIM",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Nathan Gillet",
            "descriptions": [
                {
                    "department":"",
                    "title": "",
                    "expertise": "Climate Research"
                }
            ],
              "organization":[
                        {
                            "name": "Environment and Climate Change Canada",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/nathan-gillett.png",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "Environment and Climate Change Canada",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Paul Kushner",
            "descriptions": [
                {
                    "department":"",
                    "title": "",
                    "expertise": "Physics",
                }
            ],
              "organization":[
                        {
                            "name": "University of Toronto",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/paul-kushner.jpg",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "Environment and Climate Change Canada",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Damon H. Matthews",
            "descriptions": [
                {
                    "department":"",
                "title": "",
                "expertise": "Geography, Planning, and Environment"
                }
            ],
              "organization":[
                        {
                            "name": "Concordia University",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/damon-h-matthews.jpeg",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "Concordia University",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Dan McKenney",
            "descriptions": [
                {
                     "department":"Canadian Forest Service",
                    "title": "",
                    "expertise": ""
                }
            ],
              "organization":[
                        {
                            "name": "Natural Resources Canada",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/dan-mckenney.png",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "Natural Resources Canada",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Bruno Tremblay",
            "descriptions": [
                {
                    "department":"",
                    "title": "",
                    "expertise": "Atmospheric and Oceanic Services"
                }
            ],
              "organization":[
                        {
                            "name": "",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/bruno-tremblay.png",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "Atmospheric and Oceanic Services",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            },
            {"name": "Debra Wunch",
            "descriptions": [
                {
                    "department":"",
                    "title": "",
                    "expertise": "Earth Atmospheric and Planetary Physics"
                }
            ],
              "organization":[
                        {
                            "name": "University of Toronto",
                            "icon-class": "fa-solid fa-building-columns"
                        }
                    ],
            "image": "images/about/scientific/debra-wunch.png",
            "links":
                [
                    {
                        "text": "Profile",
                        "href": "",
                        "alt": "Earth Atmospheric and Planetary Physics",
                        "icon-class": "fa-solid fa-user"
                    }
                ]
            }
]%}
<div class = "d-flex flex-row flex-wrap justify-content-start">

    {% for entry in scientific_commitee_data %}
        <div class="d-flex flex-wrap committee-card">
            <div class="d-flex flex-column">
                <img class="profile-image" src=" {{ entry["image"] }} ">
                <p class="subtitle-1 profile-entry">{{ entry["name"] }}</p>
                {% for description in entry["descriptions"] %}
                    {% if description["department"] != "" %}
                        <p class="profile-entry">{{ description["department"] }}</p>
                    {% endif %}
                    {% if description["title"] != "" %}
                        <p class="profile-entry">{{ description["title"] }}</p>
                    {% endif %}
                    {% if description["expertise"] != "" %}
                        <p class="profile-entry">{{ description["expertise"] }}</p>
                    {% endif %}
                {% endfor %}

                {% for link in entry["links"] %}
                    {% if (link["icon-class"] == "fa-solid fa-user") %}
                        <div class="d-flex flex-column">
                            <a class="marble-github-link pe-1 profile-entry" href="{{ link["href"] }}" alt="{{ link["alt"] }}" target="_blank">
                            <i class='{{ link["icon-class"] }}'></i> {{ link["text"] }}
                            </a>
                        </div>
                   {% endif %}
                {% endfor %}

                {% for org_entry in entry["organization"] %}
                    <div class="d-flex flex-column">
                        <a class="marble-github-link pe-1 profile-entry" href="{{ org_entry["href"] }}" alt="{{ org_entry["name"] }}" target="_blank">
                        <i class='{{ org_entry["icon-class"] }}'></i> {{ org_entry["name"] }}
                        </a>
                    </div>
                {% endfor %}

            </div>

                {% for link in entry["links"] %}
                    {% if (link["icon-class"] != "fa-solid fa-user") %}
                        <div class="d-flex flex-row">
                            <a class="marble-github-link pe-1 profile-entry" href="{{ link["href"] }}" alt="{{ link["alt"] }}" target="_blank">
                            <i class='{{ link["icon-class"] }}'></i> {{ link["text"] }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>

    {% endfor %}
        </div>
