{% set array_length = section_title|length %}

<div class="col-12">
    <h2><a  id="technology">{{ title }}</a></h2>

    <div class="row">
        {% for array_item in range(array_length) %}
        <div class="col-4">
            <h3>{{ section_title[array_item] }}</h3>
            <p>{{ section_content[array_item] }}</p>

            <div class="align-items-end">
                {% with button_type = "med_action_button"%}
                    {% set button_label = "Tutorials" %}
                    {% include "partials/button.html" %}
                {% endwith %}

            </div>

        </div>
        {% endfor %}
    </div>

</div>
