<div class="container-fluid">
    <div class="row">
<!--  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Centered nav only</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>-->

        <div class="d-flex justify-content-center mb-1">

            <a id="studentMenuButton" class="border-bottom border-dark mx-2"><h3>{{ menu_1 }}</h3></a>
            <a id="researcherMenuButton" class="border-bottom border-dark mx-2"><h3>{{ menu_2 }}</h3></a>
            <a id="hobbyistMenuButton" class="border-bottom border-dark mx-2"><h3>{{ menu_3 }}</h3></a>

        </div>

    </div>
    <div class="row">
        <div id="studentUser" class="d-flex student-user">

            <div class="align-items-end student-user-content">
                <div>
                    <h2>{{ student_user_title }}</h2>
                    <p>{{ student_user_content|safe }}</p>
                </div>
            </div>


        </div>
        <div id="researcherUser" class="researcher-user">

             <div class="align-items-end student-user-content">
                 <div>
                    <h2>{{ researcher_user_title }}</h2>
                    <p>{{ researcher_user_content|safe }}</p>
                 </div>
            </div>
        </div>
        <div id="hobbyistUser" class="hobbyist-user">
             <div class="align-items-end student-user-content">
                <h2>{{ hobbyist_user_title }}</h2>
                <p>{{ hobbyist_user_content|safe }}</p>
            </div>
        </div>
        </div>
</div>
<script src="js/usage.js"></script>