<div class="container-fluid w-25">
    <div class="row">
        <h3>{{ useful_links_title }}</h3>

        {% set link_text_array = ["Get started as an admin", "Deploy a node", "Marble Project Website", "Node Registry", "Python Client"] %}
        {% set link_url_array = ["", "", "", "https://github.com/DACCS-Climate/Marble-node-registry", "https://github.com/DACCS-Climate/marble_client_python"] %}
        {% set array_length = link_text_array|length %}

        {% for array_item in range(array_length) %}
            <a class = "useful-link" href="{{ link_url_array[array_item] }}">{{ link_text_array[array_item] }}</a>

        {% endfor %}


    </div>


</div>