<div class="row mb-2 mx-auto">
    <div class="col-md-12 ">
        <div class="row  g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative info-background">
            <div class="col-3 col-md-4 d-block d-lg-block" >
                <img class="wps-lg-finch-logo w-sm-100 mt-sm-5 mt-lg-0 mx-auto d-block img-fluid"   src="{{ leftimagesource }}"  />
            </div>
            <div class="col-9  col-md-8 p-4 d-flex flex-column position-static ">
                <strong class="d-inline-block mb-2 text-success"></strong>
                <h3 class="mb-0">{{ leftsectiontitle }}</h3>
                <div class="mb-1 text-body-secondary">{{ leftsectionsecondtitle }}</div>

                {{ content }}

                <div>
                    <a class="daccs-github-link" href="{{ leftgithubhref }}">
                        <i class="fab fa-github "></i> GitHub
                    </a>
                    <a class="daccs-docs-link" href="{{ leftdocumentationhref }}">
                        <i class="fas fa-book "></i> Documentation
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
