
:root{
    /*Fonts*/
    --main-font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    --secondary-font-family: Helvetica, Arial, sans-serif;

    /*Colours*/
    --surface: #FFFFFF;
    --error: #B20002;
    --text-on-primary: #FFFFFF;
    --text-on-primary-alt: #536DFE;
    --text-on-secondary: #000000;
    --text-on-background: #000000;
    --text-on-surface: #000000;
    --text-on-error: #FFFFFF;
    --primary: #304FFE;
    --primary-alt: #C5CAE9;
    --primary-variant: #283593;
    --secondary: #03DAC6;
    --secondary-variant: #018786;

    --indigo-50: #E8EAF6;
    --indigo-100: #C5CAE9;
    --indigo-200: #9FA8DA;
    --indigo-300: #7886CB;
    --indigo-400: #5C6BC0;
    --indigo-500: #4050B5;
    --indigo-600: #3949AB;
    --indigo-700: #303F9F;
    --indigo-800: #283593;
    --indigo-900: #1A237E;
    --indigo-A100: #8C9EFF;
    --indigo-A200: #536DFE;
    --indigo-A400: #3D5AFE;
    --indigo-A700: #304FFE;

    --teal-50: #E0F2F1;
    --teal-100: #B2DFDB;
    --teal-200: #80CBC4;
    --teal-300: #4DB6AC;
    --teal-400: #26A69A;
    --teal-500: #009688;
    --teal-600: #00897B;
    --teal-700: #00796B;
    --teal-800: #00695C;
    --teal-900: #004D3F;
    --teal-A100: #A7FFEB;
    --teal-A200: #64FFDA;
    --teal-A400: #1DE9B6;
    --teal-A700: #00BFA5;

    --deep-orange-50: #FBE9E6;
    --deep-orange-100: #FFCCBC;
    --deep-orange-200: #FFAB91;
    --deep-orange-300: #FF8A65;
    --deep-orange-400: #FF7043;
    --deep-orange-500:  #FF5722;
    --deep-orange-600: #F4511E;
    --deep-orange-700: #E64A19;
    --deep-orange-800: #D94214;
    --deep-orange-900: #BF360D;
    --deep-orange-A100: #FF9E80;
    --deep-orange-A200: #FF6E40;
    --deep-orange-A400: #FF3D00;
    --deep-orange-A700: #DD2C00;

    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #757575;
    --gray-800: #424242;
    --gray-900: #212121;
}

p{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03px;
}

h1{
    font-family: var(--secondary-font-family);
    font-weight: 300;
    font-size: 96px;
    letter-spacing: -1.44px;
}

h2{
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.3px;
}

h3{
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 30px;
}

h4{
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0.085px;
}

h5{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 24px;
}

h6{
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03px;
    margin-bottom: 30px;
}

.subtitle-1, .leading-text-1{
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03px;
}

.subtitle-2, .leading-text-2{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.014px;
}

.button-text{
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.024px;
}

.caption{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.048px;
}

.overline{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
}

/*UI Components*/
/*Buttons*/

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

.button-sm{
    width: 75px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-med{
    width: 108px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-sm:hover, .button-med:hover{
    background-color: #000000;
}

.button-transparent{
    width: 136px;
    height: 45px;
    flex-shrink: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    border-radius: 10px;
}

.button-sm-alt{
    width: 75px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-med-alt{
    width: 108px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-single-action{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
}

.button-single-action-sm{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
}

.button-single-action-chevron{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
}

.button-single-action-arrow{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border: none;
}

/*Body Components*/

/*Banner*/

.quick-start-title{
    padding-bottom: 15px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: #000000;
}

/*Home Page*/
/*Custom Settings For Each Home Page Section*/
.content-section{
    margin-bottom: 120px;
}

.card-button-margin{
    margin-top: 30px;
}

.technology-title{
    min-width: 409px;
}

.technology-card{
    margin-left: 10px;
    margin-right: 10px;
}

.faq-card-content{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.usage-content-title{
    margin-bottom: 20px;
}

.usage-content-button{
    margin-top: 20px;
}

/*Get Started Users*/

.usage-menu-container{
    border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-top: 80px;
    margin-bottom: 50px;
}

.usage-menu-button{
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: 48px;
    color: var(--text-on-surface);
    text-decoration: none;
    cursor: pointer;
}

.usage-menu-margin{
    margin-right: 60px;
    margin-left: 60px;
}

.getStartedOpacity{
    background-color: rgba(0,0,0,0.5);
}

.student-user-content{
    color: #FFFFFF;
}

.student-user-image{
    width: 100%;
    height: 842px;
    background-image: url("../images/student-user.jpg");
    background-position: center;
    background-size: cover;
}

.researcher-user-content{
    color: #FFFFFF;
}

.researcher-user-image{
    width: 100%;
    height: 842px;
    background-image: url("../images/researcher-user.jpg");
    background-position: center;
    background-size: cover;
}

.hobbyist-user-content{
    color: #FFFFFF;
}

.hobbyist-user-image{
    width: 100%;
    height: 842px;
    background-image: url("../images/hobbyist-user.jpg");
    background-position: center;
    background-size: cover;
}

/*Extras*/

/*Feedback*/

.feedback-card{
    margin-bottom: 50px;
}

/*Useful Link*/

.useful-link{
    margin-bottom: 30px;
}

/*Social Media*/

.social-media-section{
    margin-top: 120px;
}
.social-media-icon{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-right: 30px;
}

/*Node Page*/

.node-card{
    max-width: 322px;
    max-height: 238px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.node-card-link-button{
    width: 93px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
}

.node-card-doc-button{
    width: 153px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
}

/*Footer*/

.footer{
    background-image: url("../images/footer/world-relief-map.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.funder-logo-container{
    width: 95%;
}

.funder-logo{
    min-width: 100px;
    max-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Colours Used*/
/*NOTE: Some colour classes have multiple classes that include those for components above.*/

.bg-button-transparent, .button-single-action-arrow{
    background-color: transparent;
}

.bg-button-primary{
    background-color: var(--primary);
}

.bg-button-alt{
    background-color: var(--primary-alt);
}

.button-sm:active, .button-med:active{
    background-color: var(--indigo-A700);
}

.button-sm-alt:hover, .button-med-alt:hover{
    background-color: var(--indigo-200);
}

.button-sm-alt:active, .button-med-alt:active{
    background-color: var(--indigo-300);
}

.palette-background{
    background-color: #FFFFFF;
}

.text-primary{
    color: var(--primary);
}

.text-on-primary{
    color: var( --text-on-primary);
}

.primary{
    background-color: var(--primary);
}

.primary-alt{
    background-color: var(--primary-alt);
}

.banner-title{
    color: var(--indigo-100);
}