/*Fonts*/
p{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 96px;
    letter-spacing: -1.44px;
}

h2{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.3px;
}

h3{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 30px;
}

h4{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0.085px;
}

h5{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 24px;
}

h6{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03px;
    margin-bottom: 30px;
}

.subtitle-1, .leading-text-1{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03px;
}

.subtitle-2, .leading-text-2{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.014px;
}

.button-text{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.024px;
}

.caption{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.048px;
}

.overline{
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
}

/*Page Layout Components*/

/*Get Started Users*/

#studentMenuButton{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#studentMenuButton:focus,
#studentMenuButton:hover,
#studentMenuButton:active{
    color: #304FFE;
}

.getStartedOpacity{
    background-color: rgba(0,0,0,0.5);
}

.student-user-content{
    color: #FFFFFF;
}

.student-user-image{
    width: 100%;
    height: 842px;
    background-image: url("../images/student-user.jpg");
    background-position: center;
    background-size: cover;
}

#researcherMenuButton{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#researcherMenuButton:focus,
#researcherMenuButton:hover,
#researcherMenuButton:active{
    color: #304FFE;
}

.researcher-user-content{
    color: #FFFFFF;
}

.researcher-user-image{
    width: 100%;
    height: 842px;
    background-image: url("../images/researcher-user.jpg");
    background-position: center;
    background-size: cover;
}

#hobbyistMenuButton{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#hobbyistMenuButton:focus,
#hobbyistMenuButton:hover,
#hobbyistMenuButton:active{
    color: #304FFE;
}

.hobbyist-user-content{
    color: #FFFFFF;
}

.hobbyist-user-image{
    width: 100%;
    height: 842px;
    background-image: url("../images/hobbyist-user.jpg");
    background-position: center;
    background-size: cover;
}

/*Extras*/

/*Feedback*/

.feedback-card{
    margin-bottom: 50px;
}

/*Useful Link*/

.useful-link{
    margin-bottom: 30px;
}


/*Footer*/

.footer{
    background-image: url("../images/footer/world-relief-map.jpg");
    background-position: center;
    background-size: cover;
}

.funder-logo{
    min-width: 10%;
    max-width: 250px;
}

/*UI Components*/
/*Buttons*/

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

.button-sm{
    width: 75px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-med{
    width: 108px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-sm:hover, .button-med:hover{
    background-color: #000000;
}

.button-transparent{
    width: 136px;
    height: 45px;
    flex-shrink: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    border-radius: 10px;
}

.button-sm-alt{
    width: 75px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-med-alt{
    width: 108px;
    height: 51px;
    flex-shrink: 0;
    border: none;
}

.button-single-action{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
}

.button-single-action-sm{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
}

.button-single-action-chevron{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
}

.button-single-action-arrow{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border: none;
}

/*Body Components*/

.content-section{
    margin-bottom: 120px;
}

.technology-card{
    margin-left: 10px;
    margin-right: 10px;
}

.card-button-margin{
    margin-top: 30px;
}

.faq-card-content{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.usage-content-title{
    margin-bottom: 20px;
}

.usage-content-button{
    margin-top: 20px;
}

/*Colour Palette*/
/*NOTE: Some colour classes have multiple classes that include those for components above.*/

.bg-button-transparent, .button-single-action-arrow{
    background-color: transparent;
}

.palette-background{
    background-color: #FFFFFF;
}

.surface{
    background-color: #FFFFFF;
}

.error{
    background-color: #B20002;
}

.text-on-primary{
    color: #FFFFFF;
}

.text-on-primary-alt{
    color: #536DFE;
}

.text-on-secondary{
    color: #000000;
}

.text-on-background{
    color: #000000;
}

.text-on-surface{
    color: #000000;
}

.text-on-error{
    color: #FFFFFF;
}

.primary, .bg-button-primary{
    background-color: #3D4AFE;
}

.primary-alt, .bg-button-alt{
    background-color: #C5CAE9;
}  

.primary-variant{
    background-color: #283593;
}

.secondary{
    background-color: #03DAC6;
}

.secondary-variant{
    background-color: #018786;
}

.indigo-50{
    background-color: #E8EAF6;
}

.indigo-100{
    background-color: #C5CAE9;
}

.indigo-200, .button-sm-alt:hover, .button-med-alt:hover{
    background-color: #9FA8DA;
} 

.indigo-300, .button-sm-alt:active, .button-med-alt:active{
    background-color: #7886CB;
}

.indigo-400{
    background-color: #5C6BC0;
}

.indigo-500{
    background-color: #4050B5;
}

.indigo-600{
    background-color: #3949AB;
}

.indigo-700{
    background-color: #303F9F;
}

.indigo-800{
    background-color: #283593;
}

.indigo-900{
    background-color: #1A237E;
}

.indigo-A100{
    background-color: #8C9EFF;
}

.indigo-A200{
    background-color: #536DFE;
}

.indigo-A400{
    background-color: #3D5AFE;
}

.indigo-A700, .button-sm:active, .button-med:active{
    background-color: #304FFE;
}

.teal-50{
    background-color: #E0F2F1;
}

.teal-100{
    background-color: #B2DFDB;
}

.teal-200{
    background-color: #80CBC4;
}

.teal-300{
    background-color: #4DB6AC;
}

.teal-400{
    background-color: #26A69A;
}

.teal-500{
    background-color: #009688;
}

.teal-600{
    background-color: #00897B;
}

.teal-700{
    background-color: #00796B;
}

.teal-800{
    background-color: #00695C;
}

.teal-900{
    background-color: #004D3F;
}

.teal-A100{
    background-color:  #A7FFEB;
}

.teal-A200{
    background-color:  #64FFDA;
}

.teal-A400{
    background-color:  #1DE9B6;
}

.teal-A700{
    background-color:  #00BFA5;
}

.deep-orange-50{
    background-color: #FBE9E6;
}

.deep-orange-100{
    background-color: #FFCCBC;
}

.deep-orange-200{
    background-color: #FFAB91;
}

.deep-orange-300{
    background-color: #FF8A65;
}

.deep-orange-400{
    background-color: #FF7043;
}

.deep-orange-500{
    background-color: #FF5722;
}

.deep-orange-600{
    background-color: #F4511E;
}

.deep-orange-700{
    background-color: #E64A19;
}

.deep-orange-800{
    background-color: #D94214;
}

.deep-orange-900{
    background-color: #BF360D;
}

.deep-orange-A100{
    background-color: #FF9E80;
}

.deep-orange-A200{
    background-color: #FF6E40;
}

.deep-orange-A400{
    background-color: #FF3D00;
}

.deep-orange-A700{
    background-color: #DD2C00;
}

.gray-50{
    background-color: #FAFAFA;
}

.gray-100{
    background-color: #F5F5F5;
}

.gray-200{
    background-color: #EEEEEE;
}

.gray-300{
    background-color: #E0E0E0;
}

.gray-400{
    background-color: #BDBDBD;
}

.gray-500{
    background-color: #9E9E9E;
}

.gray-600{
    background-color: #757575;
}

.gray-700{
    background-color: #757575;
}

.gray-800{
    background-color: #424242;
}

.gray-900{
    background-color: #212121;
}


