/* For mobile phones: */
/*[class*="w-"] {
  width: 100%;
}


[class*="h-"] {
  width: 100%;
}
*/
[class*="wps-"] {
  width: 100%;
}

[class*="daccs-"] {
  width: 100%;
}

@media only screen and  (min-width:576px){
  /*  .w-sm-25{
        width: 25%;
    }

    .h-sm-25{
        height: 25%;
    }

    .w-sm-50{
        width: 50%;
    }

    .h-sm-50{
        height: 50%;
    }

    .w-sm-75{
        width: 75%;
    }

    .h-sm-75{
        height: 75%;
    }

    .w-sm-100{
        width: 100%;
    }

    .h-sm-100{
        height: 100%;
    }*/

    .wps-sm-hummingbird-logo{
        width: 90%;
    }

    .wps-sm-flyingpigeon-logo{
        width: 90%;
    }

    .daccs-logo-node{
        width: 50%;
    }

}




@media only screen and (min-width:786px){
   /* .w-md-25{
        width: 25%;
    }

    .h-md-25{
        height: 25%;
    }


    .w-md-50{
        width: 50%;
    }

    .h-md-50{
        height: 50%;
    }


    .w-md-75{
        width: 75%;
    }

    .h-md-75{
        height: 75%;
    }


    .w-md-100{
        width: 100%;
    }

    .h-md-100{
        height: 100%;
    }
    */


    .daccs-logo-node{
        width: 75%;
    }

}




@media only screen and (min-width:992px){
   /* .w-lg-25{
        width: 25%;
    }

    .h-lg-25{
        height: 25%;
    }


    .w-lg-50{
        width: 50%;
    }

    .h-lg-50{
        height: 50%;
    }


    .w-lg-75{
        width: 75%;
    }

    .h-lg-75{
        height: 75%;
    }


    .w-lg-100{
        width: 100%;
    }

    .h-lg-100{
        height: 100%;
    }
*/
    .wps-lg-finch-logo{
        width: 50%;
        left: 20%;
    }

    .wps-lg-raven-logo{
        width: 53%;
    }

    .wps-lg-hummingbird-logo{
        width: 50%;
        left: 20%;
    }

    .wps-lg-flyingpigeon-logo{
        width: 55%;
    }

    .daccs-logo-node{
        width: 100%;
    }

}




.footer {
    font-size: 10px;
}

.logo-box {
    max-height: 179px;
}

a.href-text {
    color: black;
    text-decoration: none;
}

/*WPS page*/
.daccs-docs-link{
    color: inherit;
    text-decoration: none;
}


.daccs-github-link{
    color: inherit;
    text-decoration: none;

}

.bird-background{
    background-color: #F7F9FB;
}


/*Carousel*/
.carousel-indicators{
    filter: invert(100%);
}

.carousel-control-prev{
    filter: invert(100%);
}

.carousel-control-next{
    filter: invert(100%);
}

.carousel-link{
    color: inherit;
    text-decoration: none;
}

.carousel-left-caption{
    left: 5%;
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
}

.carousel-centre-caption{
    left: 35%;
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
}

.carousel-text-background{
    border-radius: 25px;
    background-color: rgba(0.0, 0.0, 0.0, 0.25);
}


.carousel-item-marble{
    width: 100%;
    max-height: 800px;
}


.carousel,
.carousel-inner,
.carousel-inner > .carousel-item {
    overflow: hidden;


}
.carousel-inner > .carousel-item.active,
.carousel-inner > .carousel-item-next {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-inner:before {
    position:absolute;
    top:0;
    bottom: 0;
    right: 95%;
    left: 0;
    content:"";
    display:block;
    background-color: #fff;
    z-index: 2;
}
.carousel-inner:after {
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 95%;
    content:"";
    display:block;
    background-color:#fff;
    z-index: 2;
}

.carousel-control-prev {
    z-index: 2000;
    left: 22%;
}

.carousel-control-next {
    z-index: 2000;
    right: 22%;
}








/*Menu*/
.menu{
    background-color: #659DBD;
    color: #FFFFFF;
}

.menu-link{
    color: #FFFFFF;
}

#menu-logo{
    max-width: 50px;
}

/*Page Elements*/
#nodeContentDisplay{
    background-color: #F7F9FB;
}

#accordionContentDisplay{
    background-color: #F7F9FB;
}

/*Banner*/

#banner{
    width: 100%;
    height :600px;
    max-height: 800px;
}



.banner-caption{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
    z-index: 10;
}

.banner-image-overlay{
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.banner-image-overlay img { /* <= optional, for responsiveness */
   display: block;
   max-width: 80%;
   height: auto;
}

.banner-image-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
}