{#
    WARNING: This file is for testing components and should not be included in any build for production.
             To include this file in a build, copy it to the templates/site directory before build.
             DO NOT commit the copied file in the site directory to version control.
#}


{% extends "layouts/main.html" %}
{% set page_title = "Test Buttons" %}

{% block content %}
    
    {% with button_type = "med_action_button"%}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "med_action_button"%}
        {% set disabled = true %}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}
    
    {% with button_type = "med_action_button_alt"%}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "med_action_button_alt"%}
        {% set disabled = true %}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "sm_action_button"%}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "sm_action_button"%}
        {% set disabled = true %}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

     {% with button_type = "sm_action_button_alt"%}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "sm_action_button_alt"%}
        {% set disabled = true %}
        {% set button_label = "Let's Do It" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "single_action_plus" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "single_action_plus" %}
        {% set disabled = true %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "sm_single_action_plus" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "sm_single_action_plus" %}
        {% set disabled = true %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "single_action_chevron_up" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "single_action_chevron_up" %}
        {% set disabled = true %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "single_action_chevron_dn" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with button_type = "single_action_chevron_dn" %}
        {% set disabled = true %}
        {% include "partials/button.html" %}
    {% endwith %}


    {% with template = true %}
       
        {% set title = "Explore the Network" %}
        {% set tech_section_title_array = ["Integrated Development Environment", "Data Catalog", "Remote Processing Services"] %}
        {% set tech_section_content_array = [
        "JupyterLab is integrated within the Marble platform as its development environment. It provides users with
         access to climate based data analytics tools, and allows users to store data analytics results and workflows
         online.",
         "SpatioTemporal Asset Catalog (STAC) is integrated within the Marble platform as its data catalog. STAC allows
         users to discover and access climate data that is available on the Marble network.",
         "Weaver is a remote processing tool integrated within the Marble platform. Weaver allows users to create
         and run processes remotely across the Marble network."]
         %}

            {% include "partials/technology-card.html" %}
    {% endwith %}



    {% with %}
        {% set lead_text = '<br>
        <br>
        <br>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p class="body-1">Body and Body 1</p>
        <p class="subtitle-1">Subtitle 1</p>
        <p class="subtitle-2">Subtitle 2</p>
        <p class="caption">Caption</p>
        <p class="overline">Overline</p>' %}
        
        {% include "partials/section.html" %}
    {% endwith %}
{% endblock content %}