<!-- NODE_CONTENT_ID content start -->

<div class="col-lg-2" id="{{NODE_CONTENT_ID}}">
    <div class="container  ">
        <div class="row ">
            <div class="col-3  col-sm-4 " id="{{NODE_LOGO_COLUMN_ID}}">
                <div class="logo-box">
                    <a id="{{NODE_LINK_IMG_ID}}" href="{{NODE_HREF}}"><img src="{{NODE_LOGO_PATH}}" class=" img-fluid"
                                                                           id="{{NODE_LOGO_ID}}"/></a>
                </div>

            </div>

            <div class=" col-9 col-sm-8" id="{{NODE_DESCRIPTION_COLUMN_ID}}">

                <a class="href-text" id="{{NODE_LINK_TEXT_ID}}" href="{{NODE_HREF}}">
                    <text class="fs-3 fw-normal align-middle " id="{{NODE_NAME_ID}}">{{NODE_NAME}}</text>
                </a>

                <a class="href-text" id="{{NODE_LINK_DESC_ID}}" href="{{NODE_HREF}}">
                    <p id="{{NODE_DESCRIPTION_ID}}">{{NODE_DESCRIPTION}}</p>
                </a>
            </div>
        </div>
    </div>
</div> <!-- NODE_CONTENT_ID content end -->
