<!-- NODE_CONTENT_ID content start -->
<div class="d-flex align-items-start position-relative" id="{{NODE_CONTENT_ID}}">
    <div class="container">
        <div class="row">
            <div class="logo-box col-3 " id="{{NODE_LOGO_COLUMN_ID}} ">
                <a id="{{NODE_LINK_IMG_ID}}" class="stretched-link" href="{{NODE_HREF}}">
                    <img src="{{NODE_LOGO_PATH}}"
                         class="img-fluid float-end float-sm-none daccs-sm-logo-node daccs-lg-logo-node"
                         id="{{NODE_LOGO_ID}}"/>
                </a>
            </div>
            <div id="{{NODE_DESCRIPTION_COLUMN_ID}}" class="col-9 px-1 ">
                    <h2 id="{{NODE_NAME_ID}}">{{NODE_NAME}}</h2>

                    <p id="{{NODE_DESCRIPTION_ID}}">{{NODE_DESCRIPTION}}</p>
            </div>
        </div>
    </div>
</div>
<!-- NODE_CONTENT_ID content end -->
