<div class="col-lg-2" id="nodeContent">
    <div class="container">
      <div class="row ">
        <div class="col-3  col-sm-4 " id="nodeLogoColumn" >
          <div>

            <img src="NODE_LOGO_PATH" class=" img-fluid" id="nodeLogo"/>
          </div>

        </div>
        <div class=" col-9 col-sm-8" id="nodeDescColumn">
          <text class="fs-3 fw-normal align-middle" id="nodeName">NODE_NAME </text>
            <p id="nodeDescription">NODE_DESCRIPTION</p>
            <p><a class="btn btn-secondary" id="nodeLink" href="NODE_LINK">View details &raquo;</a></p>

        </div>
      </div>
    </div>
  </div><!-- /.col-lg-2 -->