<!-- NODE_CONTENT_ID content start -->
<div class="d-flex align-items-start" id="{{NODE_CONTENT_ID}}">
        <div class="logo-box col-3"  id="{{NODE_LOGO_COLUMN_ID}} ">
          <a id="{{NODE_LINK_IMG_ID}}" href="{{NODE_HREF}}"><img src="{{NODE_LOGO_PATH}}" class="img-fluid"  id="{{NODE_LOGO_ID}}"/></a>
        </div>
        <div id="{{NODE_DESCRIPTION_COLUMN_ID}}" class="col-9">
          <a class="href-text" id="{{NODE_LINK_TEXT_ID}}" href="{{NODE_HREF}}">
          <h2 id="{{NODE_NAME_ID}}">{{NODE_NAME}}</h2>
          </a>

             <a class="href-text" id="{{NODE_LINK_DESC_ID}}" href="{{NODE_HREF}}">
              <p  id="{{NODE_DESCRIPTION_ID}}" >{{NODE_DESCRIPTION}}</p>
             </a>


        </div>
      </div>
<!-- NODE_CONTENT_ID content end -->